body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.prevent-top-collapsing {
  padding-top: 1px;
  margin-top: -1px;
}

#root {
  @extend .prevent-top-collapsing;
}

.app {
  &.form-inline {
    display: flex;
    & > * {
      margin-left: 1rem;
      &:last-child {
        margin-left: 0;
      }
    }
  }
  &.form-component {

  }
  &.form-wrapper {
    & > .form-component {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &.form-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    & > * {
      margin-left: 1em;
      &:last-child {
        margin-left: 0;
      }
    }
  }
  &.form-buttons-right {
    @extend .form-buttons;
    justify-content: flex-end;
  }
}

.app {
  &.vcenter {
    display: flex;
    align-items: center;
  }
  &.hcenter {
    display: flex;
    justify-content: center;
  }
}